.ql-container {
  font-size: 1.5rem;
  border: 0.4rem solid #ddd;
  border-radius: 1.5rem;
}

.ql-editor {
  border: 3px solid #3333338e;
  min-height: 25rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  border-radius: 1rem;
  padding: 4rem 8rem;
  text-align: justify;
  background-color: #fff;
}

.ql-editor:focus {
  border: 3px solid #1670be;
  box-shadow: 0 0 3px #1670be;
  outline-offset: 0px;
  outline: none;
}

.ql-toolbar {
  border-radius: 0.8rem;
  background-color: #f8f8f8;
}

.ql-toolbar button {
  background-color: transparent;
  cursor: pointer;
  margin: 0 0.3rem;
}

.ql-toolbar .ql-formats svg {
  font-size: 4rem;
}
.ql-container.ql-snow:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
